<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="galeria.css">
    <title>Galeria</title>
</head>
<body>

    <header>
        <h1>Ryan Gosling</h1>
        <nav>
            <ul>
                <li><a href="../index/index.html">Biografía</a></li>
                <li><a href="../filmografia/filmografia.html">Filmografía</a></li>
                <li><a href="#galeria">Imágenes</a></li>
            </ul>
        </nav>
    </header>

    <h2>Frames memorables</h2>

    <div class="slider-frame">
        <ul>
            <li><a href="https://www.youtube.com/watch?v=Pyb9AQqODeg&pp=ygURc3RheSAyMDA1IHRyYWlsZXI%3D"><img class="resolution" src="slider1.jpg" alt=""></a><h1>Puedes ver el trailer de la pelicula al darle click</h1></li>
            <li><a href="https://www.youtube.com/watch?v=aILx69WrRhQ&pp=ygUWYmx1ZSB2YWxlbnRpbmUgdHJhaWxlcg%3D%3D"><img class="resolution" src="slider2.png" alt=""></a><h1>Puedes ver el trailer de la pelicula al darle click</h1></li>
            <li><a href="https://www.youtube.com/watch?v=sGc8DJoUm5M&pp=ygUmbGFycyB5IGxhIGNoaWNhIHJlYWwgdHJhaWxlciBlc3Bhw7FvbCA%3D"><img class="resolution" src="slider3.png" alt=""></a><h1>Puedes ver el trailer de la pelicula al darle click</h1></li>
            <li><a href="https://www.youtube.com/watch?v=RDEAL9vbpM0&pp=ygUXYXNlc2luYXRvIDEgMiAzIHRyYWlsZXI%3D"><img class="resolution" src="slider4.jpg" alt=""></a><h1>Puedes ver el trailer de la pelicula al darle click</h1></li>
            <li><a href="https://www.youtube.com/watch?v=bo0FMvCnAO8&pp=ygUaVGhlIFNsYXVnaHRlciBSdWxlIHRyYWlsZXI%3D"><img class="resolution" src="slider5.jpg" alt=""></a><h1>Puedes ver el trailer de la pelicula al darle click</h1></li>
            <li><a href="https://www.youtube.com/watch?v=NAH_6By9C7g"><img class="resolution" src="slider6.jpg" alt=""></a><h1>Puedes ver el trailer de la pelicula al darle click</h1></li>
            <li><a href="https://www.youtube.com/watch?v=BjJcYdEOI0k&pp=ygUfZWwgZGlhcmlvIGRlIHVuYSBwYXNpb24gdHJhaWxlcg%3D%3D"><img class="resolution" src="slider7.jpg" alt=""></a><h1>Puedes ver el trailer de la pelicula al darle click</h1></li>
            <li><a href="https://www.youtube.com/watch?v=KepnbJT5nBw&pp=ygUiVGhlIFBsYWNlIEJleW9uZCB0aGUgUGluZXMgdHJhaWxlcg%3D%3D">img class="resolution" src="slider8.jpg" alt=""><h1>Puedes ver el trailer de la pelicula al darle click</h1></a></li>
            <li><a href="https://www.youtube.com/watch?v=u2Uj1Os0bHs&pp=ygUVdGhlIGJlbGlldmVyIHRyYWlsZXIg"><img class="resolution" src="slider9.webp" alt=""></a><h1>Puedes ver el trailer de la pelicula al darle click</h1></li>
            <li><a href="https://www.youtube.com/watch?v=_DcsSlZcThw&pp=ygUTaGFsZiBuZWxzb24gdHJhaWxlcg%3D%3D"><img class="resolution" src="slider10.jpg" alt=""></a><h1>Puedes ver el trailer de la pelicula al darle click</h1></li>    
        </ul>
    </div>
    <footer>
        <p>© 2020 Ryan Gosling</p>
    </footer>
</body>
</html>
